<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/ProfilEvan-modified.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/8ea8f44ca5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://kit.fontawesome.com/8ea8f44ca5.css" crossorigin="anonymous">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="/img/ProfilEvan-modified.png" width="50" height="50">
                </a>
                <a class="navbar-brand pe-3 fw-bold" href="{{ path('homepage') }}">Evan Rousseau</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('experiencePro') }}">Mes Expériences Pro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('realisations') }}">Mes Réalisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('references') }}">Mes Références</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
